 body {
    margin: 0;
    padding: 0;
    font-family: 'calibri';
    box-sizing: border-box;
}

.body-login {
    background: url(../img/chuttersnap-9UD0JHnWyVE-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex; 
    min-height: 75vh; 
}

.login-form {
    margin: auto;
    width: 50%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border: black;
    padding: 50px;
    box-shadow: 7px 13px 40px black;
    
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    display: block;
}


h5 {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.login-link {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.modal-body button [type="submit"] {
    width: 100%;
    background-color: black;
    border: none;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 16px;
    text-decoration: none;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    
}

.registro-form {
    padding: 32px 30px;
    margin-bottom: 16px;
    font-size: 16px;  
}