html {
	font-size: 80%;
}
body {
	min-height: 100vh;
}

/* ---------------------NavBar------------------------------- */
.navbar{
	background-color:black;
}


.navbarContainer{
	padding:0px;
}
.containerImg{
	
	width:5rem;
}
.containerImg-footer {
	width: 5rem;
}
.letraNavBar {
	font-size: 1rem;
}

.letraNavBar2 {
	font-size: 2rem;
}

.boton-style {
	border: 1px solid #ffffff;
	border-radius: 15px;
	margin-left: 45px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
}

.boton-style-footer {
	border: 0.01px solid #ffffff;
	border-radius: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 12px;
}
/* ---------------------NavBar------------------------------- */

/*-------------------- FOOTER------------------------------------ */
footer {
	background-color: black;
	min-height: 0.8rem;
	padding: 0.5rem;
	font-size: 0.8rem;
	position: sticky;
	top: 100%;
}
footer a {
	text-decoration: none;
}


.fondoError404{
    background-color:white;
}
#error404{
    
    width: 70%;
}

.card-producto{
    width:200px;
    height:200px;
    
}


#cardUsuario {
  margin-right: 75px;
}
#busquedaTragos {
  margin-right: 75px;
}

.home-main{
    background: url(../img/home/fondo.jpg);
    
}
.publicar-home{
    background-color: aliceblue;
}


.quienes-somos {
	background: url(../img/home/fondo.jpg);
	min-height: 100vh;
}
.boxHome{
       
    -webkit-box-shadow: 4px 1px 15px 4px rgba(0,0,0,0.5); 
    box-shadow: 2px 1px 2px rgba(0,0,0,0.5);
}

.card-publicacion{
	
	background-color: rgba(255,255,255,0.75) !important;
}


/* -----------------------------------Configuracion------------------------------- */

#main-configuracion{
    width:100vw;
    height:50vh;
}
.boxConf{
    width: 50vw;
    height: 10%;
       
    -webkit-box-shadow: 4px 1px 15px 4px rgba(0,0,0,0.5); 
    box-shadow: 4px 1px 15px 4px rgba(0,0,0,0.5);
}
/* -----------------------------------Configuracion------------------------------- */

